.mb-100{
    @include adaptive-value("margin-bottom", 100, 60);
}
.mb-50{
    @include adaptive-value("margin-bottom", 50, 30);
}
.fsz-50{
    @include adaptive-value("font-size", 50, 34);
}
.fsz-30{
    @include adaptive-value("font-size", 30, 18);
}
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}
.m0-auto{
    img{
        display: block;
        margin: 0 auto;
    }
}

._contacts-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.contact-item {
    font-family: Montserrat;
    font-weight: 600;

    color: #ffffff;
    @include adaptive-value("font-size", 21, 13);
    @include adaptive-value("line-height", 25, 16);
}

._title {
    font-family: Montserrat;
    font-weight: 700;
    @include adaptive-value("font-size", 57, 29);
    @include adaptive-value("line-height", 70, 36);
    @include adaptive-value("margin-bottom", 69, 30);
    color: #000;
}

.calc__input {
    width: 40px;
    height: 40px;
    font-family: Sen;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000000;

    text-transform: uppercase;
    border: 1px solid #006fcc;
    box-sizing: border-box;
    border-radius: 9px;
}
.count-plus,
.count-minus {
    font-family: Sen;
    font-weight: 400;
    font-size: 22.1017px;
    line-height: 28px;
    text-align: center;
    color: #8399a9;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

// animated line under links with ::before
._link-underline {
    width: fit-content;
    position: relative;
    &:before {
        position: absolute;
        content: "";
        width: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 2px;
        background-color: #50beff;
        bottom: -10px;
        transition: all 0.3s ease 0s;
    }
    @media (any-hover: hover) {
        &:hover {
            &:before {
                width: 100%;
            }
        }
    }
}

._order-btn {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    @media (any-hover: hover) {
        &:hover {
            background-color: #50beff;
            color: #000;
        }
    }
}

.bottol {
    &-l19 {
        @include adaptive-value("width", 188, 146);
        @include adaptive-value("height", 228, 177);
    }
    &-l6 {
        @include adaptive-value("width", 150, 213);
        @include adaptive-value("height", 233, 210);
    }
    &-l15 {
        @include adaptive-value("width", 199, 213);
        @include adaptive-value("height", 199, 210);
    }
    &-l05 {
        @include adaptive-value("width", 211, 213);
        @include adaptive-value("height", 228, 210);
    }
}

.page-wrapper {
    .wrapper{
        display: flex;
        flex-direction: column;
        &__image{
            display:none;
        }
    }
    .header {
        width: 100%;
    }
    ._page {
        flex: 1 0 450px;
        &-body{
            background-color: rgba(255, 255, 255, 0.6);
            @include adaptive-value('padding',20,15);
            border-radius:30px;
        }
    }

    .footer{
        background-color: rgba(106, 198, 248, 1);
        margin-top: 70px;
        &__background{
            display: block;
            @include adaptive-value("top", -150, -100);
            @media (max-width: 1200px) {
                width:1440px;
                @include adaptive-value("left", 0, -216);
               
            }
        }
    }
    .header__menu-list {
        @media (max-width: 992px) {
            height: 0%;
            opacity: 0;
            transition: all 0.3s ease 0s, opacity 0.2s ease 0s;
        }
        &._active {
            opacity: 1;
        }
    }
    .header__top{
         padding: 36px 0 0 0;
    }
    .header__body {
        @media (max-width: 992px) {
            z-index: unset;
        }
    }

    ._container {
        @media (max-width: 1440px) {
            padding: 0 33px;
        }
        @media (max-width: 390px) {
            padding: 0 15px;
        }
    }
    .header__body {
        position:relative;
        &:before {
            position: absolute;
            width: 100%;
            @include adaptive-value("height", 895, 382);
            background-color: rgba(0, 159, 252, 0.1);
            z-index: -1;
        }
    }
    

}

._page {
    @include adaptive-value("margin-top", 85, 45);
    @include adaptive-value("margin-bottom", 85, 45);

    // ._page-section

    &-section {
    }

    // ._page-body

    &-body {
    }

    // ._page-text

    &-text {
    }
}
